EWSAffectedTaskOccurrencesType.h
EWSAffectedTaskOccurrencesType.m
EWSAggregateType.h
EWSAggregateType.m
EWSAvailabilityProxyRequestType.h
EWSAvailabilityProxyRequestType.m
EWSBodyTypeResponseType.h
EWSBodyTypeResponseType.m
EWSBodyTypeType.h
EWSBodyTypeType.m
EWSCalendarItemCreateOrDeleteOperationType.h
EWSCalendarItemCreateOrDeleteOperationType.m
EWSCalendarItemTypeType.h
EWSCalendarItemTypeType.m
EWSCalendarItemUpdateOperationType.h
EWSCalendarItemUpdateOperationType.m
EWSCalendarPermissionLevelType.h
EWSCalendarPermissionLevelType.m
EWSCalendarPermissionReadAccessType.h
EWSCalendarPermissionReadAccessType.m
EWSConflictResolutionType.h
EWSConflictResolutionType.m
EWSContactSourceType.h
EWSContactSourceType.m
EWSContainmentComparisonType.h
EWSContainmentComparisonType.m
EWSContainmentModeType.h
EWSContainmentModeType.m
EWSDayOfWeekIndexType.h
EWSDayOfWeekIndexType.m
EWSDayOfWeekType.h
EWSDayOfWeekType.m
EWSDefaultShapeNamesType.h
EWSDefaultShapeNamesType.m
EWSDelegateFolderPermissionLevelType.h
EWSDelegateFolderPermissionLevelType.m
EWSDeliverMeetingRequestsType.h
EWSDeliverMeetingRequestsType.m
EWSDictionaryURIType.h
EWSDictionaryURIType.m
EWSDisposalType.h
EWSDisposalType.m
EWSDistinguishedFolderIdNameType.h
EWSDistinguishedFolderIdNameType.m
EWSDistinguishedPropertySetType.h
EWSDistinguishedPropertySetType.m
EWSDistinguishedUserType.h
EWSDistinguishedUserType.m
EWSEmailAddressKeyType.h
EWSEmailAddressKeyType.m
EWSExceptionPropertyURIType.h
EWSExceptionPropertyURIType.m
EWSExchangeVersionType.h
EWSExchangeVersionType.m
EWSExcludesAttributeType.h
EWSExcludesAttributeType.m
EWSExternalAudience.h
EWSExternalAudience.m
EWSFileAsMappingType.h
EWSFileAsMappingType.m
EWSFolderQueryTraversalType.h
EWSFolderQueryTraversalType.m
EWSGuidType.h
EWSGuidType.m
EWSIdFormatType.h
EWSIdFormatType.m
EWSImAddressKeyType.h
EWSImAddressKeyType.m
EWSImportanceChoicesType.h
EWSImportanceChoicesType.m
EWSIndexBasePointType.h
EWSIndexBasePointType.m
EWSItemQueryTraversalType.h
EWSItemQueryTraversalType.m
EWSLegacyFreeBusyType.h
EWSLegacyFreeBusyType.m
EWSMailboxTypeType.h
EWSMailboxTypeType.m
EWSMapiPropertyTypeType.h
EWSMapiPropertyTypeType.m
EWSMeetingAttendeeType.h
EWSMeetingAttendeeType.m
EWSMeetingRequestTypeType.h
EWSMeetingRequestTypeType.m
EWSMessageDispositionType.h
EWSMessageDispositionType.m
EWSMonthNamesType.h
EWSMonthNamesType.m
EWSNonEmptyStringType.h
EWSNonEmptyStringType.m
EWSNotificationEventTypeType.h
EWSNotificationEventTypeType.m
EWSOofState.h
EWSOofState.m
EWSPermissionActionType.h
EWSPermissionActionType.m
EWSPermissionLevelType.h
EWSPermissionLevelType.m
EWSPermissionReadAccessType.h
EWSPermissionReadAccessType.m
EWSPhoneNumberKeyType.h
EWSPhoneNumberKeyType.m
EWSPhysicalAddressIndexType.h
EWSPhysicalAddressIndexType.m
EWSPhysicalAddressKeyType.h
EWSPhysicalAddressKeyType.m
EWSResolveNamesSearchScopeType.h
EWSResolveNamesSearchScopeType.m
EWSResponseClassType.h
EWSResponseClassType.m
EWSResponseTypeType.h
EWSResponseTypeType.m
EWSSearchFolderTraversalType.h
EWSSearchFolderTraversalType.m
EWSSensitivityChoicesType.h
EWSSensitivityChoicesType.m
EWSSortDirectionType.h
EWSSortDirectionType.m
EWSStandardGroupByType.h
EWSStandardGroupByType.m
EWSSubscriptionStatusType.h
EWSSubscriptionStatusType.m
EWSSuggestionQuality.h
EWSSuggestionQuality.m
EWSTaskDelegateStateType.h
EWSTaskDelegateStateType.m
EWSTaskStatusType.h
EWSTaskStatusType.m
EWSUnindexedFieldURIType.h
EWSUnindexedFieldURIType.m
