EWSAffectedTaskOccurrencesType.h
EWSAffectedTaskOccurrencesType.m
EWSAggregateType.h
EWSAggregateType.m
EWSAvailabilityProxyRequestType.h
EWSAvailabilityProxyRequestType.m
EWSBodyTypeResponseType.h
EWSBodyTypeResponseType.m
EWSBodyTypeType.h
EWSBodyTypeType.m
EWSCalendarItemCreateOrDeleteOperationType.h
EWSCalendarItemCreateOrDeleteOperationType.m
EWSCalendarItemTypeType.h
EWSCalendarItemTypeType.m
EWSCalendarItemUpdateOperationType.h
EWSCalendarItemUpdateOperationType.m
EWSCalendarPermissionLevelType.h
EWSCalendarPermissionLevelType.m
EWSCalendarPermissionReadAccessType.h
EWSCalendarPermissionReadAccessType.m
EWSConflictResolutionType.h
EWSConflictResolutionType.m
EWSContactSourceType.h
EWSContactSourceType.m
EWSContainmentComparisonType.h
EWSContainmentComparisonType.m
EWSContainmentModeType.h
EWSContainmentModeType.m
EWSDayOfWeekIndexType.h
EWSDayOfWeekIndexType.m
EWSDayOfWeekType.h
EWSDayOfWeekType.m
EWSDefaultShapeNamesType.h
EWSDefaultShapeNamesType.m
EWSDelegateFolderPermissionLevelType.h
EWSDelegateFolderPermissionLevelType.m
EWSDeliverMeetingRequestsType.h
EWSDeliverMeetingRequestsType.m
EWSDictionaryURIType.h
EWSDictionaryURIType.m
EWSDisposalType.h
EWSDisposalType.m
EWSDistinguishedFolderIdNameType.h
EWSDistinguishedFolderIdNameType.m
EWSDistinguishedPropertySetType.h
EWSDistinguishedPropertySetType.m
EWSDistinguishedUserType.h
EWSDistinguishedUserType.m
EWSEmailAddressKeyType.h
EWSEmailAddressKeyType.m
EWSExceptionPropertyURIType.h
EWSExceptionPropertyURIType.m
EWSExchangeVersionType.h
EWSExchangeVersionType.m
EWSExcludesAttributeType.h
EWSExcludesAttributeType.m
EWSExternalAudience.h
EWSExternalAudience.m
EWSFileAsMappingType.h
EWSFileAsMappingType.m
EWSFolderQueryTraversalType.h
EWSFolderQueryTraversalType.m
EWSGuidType.h
EWSGuidType.m
EWSIdFormatType.h
EWSIdFormatType.m
EWSImAddressKeyType.h
EWSImAddressKeyType.m
EWSImportanceChoicesType.h
EWSImportanceChoicesType.m
EWSIndexBasePointType.h
EWSIndexBasePointType.m
EWSItemQueryTraversalType.h
EWSItemQueryTraversalType.m
EWSLegacyFreeBusyType.h
EWSLegacyFreeBusyType.m
EWSMailboxTypeType.h
EWSMailboxTypeType.m
EWSMapiPropertyTypeType.h
EWSMapiPropertyTypeType.m
EWSMeetingAttendeeType.h
EWSMeetingAttendeeType.m
EWSMeetingRequestTypeType.h
EWSMeetingRequestTypeType.m
EWSMessageDispositionType.h
EWSMessageDispositionType.m
EWSMonthNamesType.h
EWSMonthNamesType.m
EWSNonEmptyStringType.h
EWSNonEmptyStringType.m
EWSNotificationEventTypeType.h
EWSNotificationEventTypeType.m
EWSOofState.h
EWSOofState.m
EWSPermissionActionType.h
EWSPermissionActionType.m
EWSPermissionLevelType.h
EWSPermissionLevelType.m
EWSPermissionReadAccessType.h
EWSPermissionReadAccessType.m
EWSPhoneNumberKeyType.h
EWSPhoneNumberKeyType.m
EWSPhysicalAddressIndexType.h
EWSPhysicalAddressIndexType.m
EWSPhysicalAddressKeyType.h
EWSPhysicalAddressKeyType.m
EWSResolveNamesSearchScopeType.h
EWSResolveNamesSearchScopeType.m
EWSResponseClassType.h
EWSResponseClassType.m
EWSResponseTypeType.h
EWSResponseTypeType.m
EWSSearchFolderTraversalType.h
EWSSearchFolderTraversalType.m
EWSSensitivityChoicesType.h
EWSSensitivityChoicesType.m
EWSSortDirectionType.h
EWSSortDirectionType.m
EWSStandardGroupByType.h
EWSStandardGroupByType.m
EWSSubscriptionStatusType.h
EWSSubscriptionStatusType.m
EWSSuggestionQuality.h
EWSSuggestionQuality.m
EWSTaskDelegateStateType.h
EWSTaskDelegateStateType.m
EWSTaskStatusType.h
EWSTaskStatusType.m
EWSUnindexedFieldURIType.h
EWSUnindexedFieldURIType.m
EWSBaseNotificationEventType.h
EWSBaseNotificationEventType.m
EWSBasePermissionType.h
EWSBasePermissionType.m
EWSCalendarEvent.h
EWSCalendarEvent.m
EWSCalendarEventDetails.h
EWSCalendarEventDetails.m
EWSCompleteNameType.h
EWSCompleteNameType.m
EWSConflictResultsType.h
EWSConflictResultsType.m
EWSConnectingSIDType.h
EWSConnectingSIDType.m
EWSDelegatePermissionsType.h
EWSDelegatePermissionsType.m
EWSDelegateUserType.h
EWSDelegateUserType.m
EWSDeletedOccurrenceInfoType.h
EWSDeletedOccurrenceInfoType.m
EWSDerivedItemIdType.h
EWSDerivedItemIdType.m
EWSDuration.h
EWSDuration.m
EWSEffectiveRightsType.h
EWSEffectiveRightsType.m
EWSEmailAddress.h
EWSEmailAddress.m
EWSExchangeImpersonationType.h
EWSExchangeImpersonationType.m
EWSFolderClassType.h
EWSFolderClassType.m
EWSFreeBusyViewOptionsType.h
EWSFreeBusyViewOptionsType.m
EWSItemClassType.h
EWSItemClassType.m
EWSMailboxData.h
EWSMailboxData.m
EWSManagedFolderInformationType.h
EWSManagedFolderInformationType.m
EWSMaxSyncChangesReturnedType.h
EWSMaxSyncChangesReturnedType.m
EWSPhysicalAddressDictionaryEntryType.h
EWSPhysicalAddressDictionaryEntryType.m
EWSRecurrenceRangeBaseType.h
EWSRecurrenceRangeBaseType.m
EWSSerializableTimeZone.h
EWSSerializableTimeZone.m
EWSSerializableTimeZoneTime.h
EWSSerializableTimeZoneTime.m
EWSSidAndAttributesType.h
EWSSidAndAttributesType.m
EWSSubscriptionIdType.h
EWSSubscriptionIdType.m
EWSSubscriptionStatusFrequencyType.h
EWSSubscriptionStatusFrequencyType.m
EWSSubscriptionTimeoutType.h
EWSSubscriptionTimeoutType.m
EWSSuggestionsViewOptionsType.h
EWSSuggestionsViewOptionsType.m
EWSUserIdType.h
EWSUserIdType.m
EWSWatermarkType.h
EWSWatermarkType.m
EWSWorkingPeriod.h
EWSWorkingPeriod.m
